---
const { frontmatter } = Astro.props;
import HomeHeader from "../components/astro/HomeHeader/index.astro";
import Tooltip from "../components/astro/mdc-tooltip/index.astro";
import "../components/style/mdc/home.scss";
import Layout from "./Layout.astro";

---
<Layout title={frontmatter.title}>
    <h1 class="mdc-typography--headline4">{frontmatter.title}</h1>
    <h1 class="mdc-typography--button">@{frontmatter.author}</h1>
    <span class="mdc-evolution-chip mdc-evolution-chip--disabled" role="presentation" id="c6">
      <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" role="option" aria-selected="false" tabindex="0">
        <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
        <span class="mdc-evolution-chip__graphic">
          <span class="mdc-evolution-chip__icon mdc-evolution-chip__icon--primary material-icons-outlined">perm_identity</span> <!-- optional -->
        </span>
        <span class="mdc-evolution-chip__text-label">{frontmatter.author}</span>
      </span>
    </span>
    <slot />
    <p>Written on: {frontmatter.date}</p>
</Layout>
